* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: column;
}

.headcon {
  background-color: #1f2937;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 100px;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-top: 10px;
  flex: 1;
  padding-right: 20px;
}

.links {
  background-color: #1f2937;
  justify-content: end;
  align-items: center;
  display: flex;
  gap: 16px;
  padding: 5px 10px;
}

.awesome {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
  flex: 1;
}

.image {
  width: 500px;
  height: 220px;
  background-color: #3b4757;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#toptext {
  font-size: 18px;
  color: #e5e7eb;
  padding-bottom: 10px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

button {
  color: #e5e7eb;
  background-color: #3882f6;
  padding: 5px;
  border-radius: 8px;
  border: NONE;
  width: 100px;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(166, 204, 240);
}

article {
  background-color: white;
  padding: 50px 200px 50px 200px;
}

.pics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 15%;
}

.pictext {
  display: flex;
  justify-content: space-around;
}

.pictext1 {
  width: 100px;
  text-align: center;
  padding: 5px;
}

.pic1 {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  flex-shrink: 0;
}

.pic2 {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  flex-shrink: 0;
}

.pic3 {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  flex-shrink: 0;
}

.pic4 {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  flex-shrink: 0;
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding-bottom: 20px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 25px 75px;
}

.secsplit {
  display: flex;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  padding: 20px;
}

#sig {
  margin-left: auto;
  font-size: 18px;
  font-weight: bolder;
  padding: 20px;
}

.bubble {
  display: flex;
  justify-content: center;
  background-color: #3882f6;
  width: fit-content;
  margin: 75px auto;
  border-radius: 10px;
  padding: 5px 15px;
}

.bubtext {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
  margin: 30px 80px 30px 0px;
}

#action {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
}

.button2 {
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f9faf8;
}

footer {
  margin-top: auto;
  padding: 10px 0;
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
}
